infrapiolt/.terraform

# Ignore Terraform state files
infrapiolt/*.tfstate
infrapiolt/*.tfstate.backup
infrapiolt/.terraform.lock.hcl
infrapiolt/*.backup

infrapiolt/variables.tf

flaskapp/.env
flaskapp/__pycache__/
flaskapp/tests/__pycache__
